
@{
    ViewBag.Title = "Add";
}

<table>
    <tr>
        <td>Username</td>
        <td><input type="text" id="name"/></td>
    </tr>
    <tr>
        <td>Age</td>
        <td><input type="text" id="age" /></td>
    </tr>
    <tr>
        <td>Location</td>
        <td><input type="text" id="location" /></td>
    </tr>
    <tr>
        <td colspan="2"><center><button class="btn btn-primary" onclick="AddUser();">Add</button></center></td>
    </tr>
</table>

